<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cc.blueday.login.dao.GCloudUsersMapper">
    <select id="getUserById" parameterType="String" resultType="map">
		SELECT
            *
		FROM
		    gcloud_users
		WHERE
		   user_id = #{_parameter }
	</select>
</mapper>