#toLoginPage{
    margin-left:162px;
    background-image:url(../img/index/menu_bj1.jpg);
}
#toRegPage{
    margin-left:50px;
    background-image:url(../img/index/menu_bj2.jpg);
}
#toFindPass{
    margin-left:50px;
    background-image:url(../img/index/menu_bj3.jpg);
}
#toRegPage1{
    margin-left:230px;
    background-image:url(../img/index/menu_bj2.jpg);
}
#toFindPass1{
    margin-left:100px;
    background-image:url(../img/index/menu_bj3.jpg);
}